html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

label {
  display: flex;
  align-items: center;

  > div {
    display: inline-block;
    vertical-align: middle;
  }

  > span,
  > div:last-child {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}

pre,
code {
  padding: 0.15em 0;
  color: $black;
  white-space: nowrap;
  background: $pampas;
  border-radius: 3px;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

pre code {
  font-size: 1em;
  white-space: inherit;

  &::before,
  &::after {
    content: none;
  }
}

.heading {
  padding-bottom: 0.3em;
  margin-bottom: math.div($grid-gutter-width, 2);
  border-bottom: 1px solid transparentize($black, 0.9);
}

.badges {
  width: 100%;

  a {
    float: left;
    padding: 0;
    margin: 0 5px 5px 0;

    img {
      float: left;
    }
  }
}
