#root {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  min-height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  label {
    position: relative;
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.table-responsive {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  margin: 0;
  border: 0;

  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  label {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

tfoot {
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .buttons {
    padding-right: 0.75em;
    padding-left: 0.75em;
    text-align: right;
    white-space: nowrap;
    border-bottom: 0;

    button {
      margin: 0.25rem;
    }
  }
}

footer {
  flex-grow: 0;
}

@include media-breakpoint-down(sm) {
  main {
    font-size: 0.85rem;

    h1 {
      font-size: $h3-font-size;
    }

    h2 {
      font-size: $h4-font-size;
    }

    h3 {
      font-size: $h5-font-size;
    }

    h4,
    h5,
    h6 {
      font-size: $h6-font-size;
    }
  }
}
