#app {
  align-items: stretch;
  display: flex;
  justify-content: stretch;
  min-height: 100%;
  width: 100%;

  .app {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    width: 100%;

    label {
      position: relative;
    }

    .table-responsive {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    table {
      border: 0;
      margin: 0;
      width: 100%;

      label {
        margin-bottom: 0;
        white-space: nowrap;
      }
    }

    th,
    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }

    tbody {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    tfoot {
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      th,
      td {
        border-bottom: 0;
        padding-left: 0.75em;
        padding-right: 0.75em;
        white-space: nowrap;
      }

      .buttons {
        text-align: right;

        button {
          margin: 0.25rem;
        }
      }
    }
  }

  footer {
    flex-grow: 0;
  }
}

@include media-breakpoint-down(sm) {
  #app {
    main {
      font-size: 0.85rem;

      h1 {
        font-size: $h3-font-size;
      }

      h2 {
        font-size: $h4-font-size;
      }

      h3 {
        font-size: $h5-font-size;
      }

      h4,
      h5,
      h6 {
        font-size: $h6-font-size;
      }
    }
  }
}
