.markdown {
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid transparentize($black, 0.9);
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 16px;
  }

  li + li {
    margin-top: 0.25em;
  }
}
