{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "no-console": 0,
    "react/jsx-props-no-spreading": 0
  }
}
