html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

:global #app {
  align-items: stretch;
  display: flex;
  justify-content: stretch;
  min-height: 100%;
  width: 100%;

  .app {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    width: 100%;

    label {
      position: relative;
    }

    table {
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;

      label {
        margin-bottom: 0;
      }
    }

    th,
    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }

    tfoot {
      th,
      td {
        padding-left: 0.75em;
        padding-right: 0.75em;
      }

      .buttons {
        text-align: right;

        button {
          margin-right: 0.75rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  footer {
    flex-grow: 0;
  }
}

label {
  align-items: center;
  display: flex;

  > div {
    display: inline-block;
    vertical-align: middle;
  }

  > span,
  > div:last-child {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}

:global .markdown {
  h2 {
    border-bottom: 1px solid transparentize($black, 0.9);
    padding-bottom: 0.3em;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
    margin-top: 1em;
  }

  ul {
    margin-bottom: 16px;
  }

  li + li {
    margin-top: 0.25em;
  }

  pre.d-inline,
  code {
    background: $pampas;
    border-radius: 3px;
    color: $black;
    font-size: 0.85em;
    padding: 0.15em 0;
    white-space: nowrap;

    &::before,
    &::after {
      content: '\00a0';
      letter-spacing: -0.2em;
    }
  }

  pre code {
    font-size: 1em;
    white-space: inherit;

    &::before,
    &::after {
      content: none;
    }
  }
}

:global .heading {
  border-bottom: 1px solid transparentize($black, 0.9);
  margin-bottom: math.div($grid-gutter-width, 2);
  padding-bottom: 0.3em;
}

:global .badges {
  width: 100%;

  a {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;

    img {
      float: left;
    }
  }
}

@include media-breakpoint-down(sm) {
  #app {
    main {
      font-size: 0.85rem;

      h1 {
        font-size: $h3-font-size;
      }

      h2 {
        font-size: $h4-font-size;
      }

      h3 {
        font-size: $h5-font-size;
      }

      h4,
      h5,
      h6 {
        font-size: $h6-font-size;
      }
    }
  }
}
