.version {
  display: inline-block;

  .name {
    margin: 0.25rem 0;
    font-size: 1em;
    font-weight: 400;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .value {
    margin: 0.25rem 0;
    font-size: 1em;
    font-weight: 400;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .revision {
    margin: 0.25rem 0;
    font-size: 1em;
    font-weight: 400;
  }
}
