.example {
  position: relative;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  :global {
    .form-check {
      &:last-child {
        label {
          margin-bottom: 0;
        }
      }

      &.form-check-inline {
        label {
          margin-bottom: 0;
        }
      }
    }
  }

  .view-source {
    position: absolute;
    top: -1px;
    right: -1px;
  }
}
